.git
.github
.gitignore

.dockerignore
.env
.env.*
app/etc/env.php
*.log

node_modules
vendor/bin
var/cache
var/page_cache
var/view_preprocessed
generated/code
generated/metadata

pub/static/_cache

docker-compose.yml
compose.yaml

mysql_data
opensearch_data

*.sql
*.sql.gz